/* Colors */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}

.light {
	background: #f3f5f7;
}

.postcard .postcard__tagbox .green.play:hover {
	background: rgba(121, 221, 9, 1);
	color: black;
}
.green .postcard__title:hover {
	color: #79dd09;
}
.green .postcard__bar {
	background-color: #79dd09;
}
.green::before {
	background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: rgba(0, 118, 189, 1);
}
.blue .postcard__title:hover {
	color: #0076bd;
}
.blue .postcard__bar {
	background-color: #0076bd;
}
.blue::before {
	background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: rgba(189, 21, 11, 1);
}
.red .postcard__title:hover {
	color: #bd150b;
}
.red .postcard__bar {
	background-color: #bd150b;
}
.red::before {
	background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: rgba(189, 187, 73, 1);
	color: black;
}
.yellow .postcard__title:hover {
	color: #bdbb49;
}
.yellow .postcard__bar {
	background-color: #bdbb49;
}
.yellow::before {
	background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}

	.blue::before {
		background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}

	.yellow::before {
		background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}
}
